html{
  box-sizing: border-box; /* https://css-tricks.com/box-sizing/ */
  /*background:#eee;
  background: url("../img/flagF4D.png") center no-repeat;
    */
}

    
*, *:before, *:after {
  box-sizing: inherit;
  justify-content: space-between;
}
/*
body{
  max-width: 30em;
  margin: 1em auto;
  padding: 1em;
  background: #fff;
  border-radius: 1em;
  box-shadow: 0.5em 0.5em 0.5em rgba(68,68,68,0.6);
}
*/

body > header{
    display: flex;
    align-items: center;
}

body > header ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

body > header ul a{
    display: block;
    padding: 1em;
    text-decoration: none;
    color: black;
}

svg {
    font-size: 2em;
    margin: 0;
}

main > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr)); 
    grid-gap: 1em;
    padding: 10px;
}

main > ul li {
    list-style: none;
    text-decoration: none;
    font-size: 10px;
    position: relative;
}

img{
    width: 100%;
}

main > ul button {
    position: absolute;
    bottom: 0em;
    width: 60px;
    height: 50px;
}

button{
    border: none;
}

.hoofdhart{
   fill: pink;
}






